[user]
	email = borje.granberg@gmail.com
	name = Borje Granberg
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --date=local --pretty=\"%ai %h %an - %s\"
	l = log --date=local
	rlog = log --date=relative
        gl = log --graph 
	in = log --stat --date=local HEAD..origin/master
	out = log  --stat --date=local origin/master..HEAD
	wdiff = diff --word-diff
	fp = format-patch -k --stdout
	dc = diff --cached
        caa = commit -a --amend
    ff = merge --ff-only
    unstage = reset HEAD --mixed
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	tool = emerge
	conflictstyle = diff3
        defaultToUpstream = true
[push]
	default = tracking
